version: '60'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    restart: on-failure
    ports:
      - target: ${WEB_PORT_TARGET}
        published: ${WEB_PORT_PUBLISH}
    depends_on:
      - "database"
    networks:
      - "dbnet"
    env_file:
      - .env
  
  database:
    platform: "linux/x86_64"
    image: "mysql:latest"
    container_name: "db-mysql"
    ports:
      - target: ${DB_PORT_TARGET}
        published: ${DB_PORT_PUBLISH}
    environment:
      MYSQL_DATABASE: DBEMAILS
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
    volumes:
      - "./db:/docker-entrypoint-initdb.d"
    networks:
      - "dbnet"

networks:
  dbnet:
    driver: "bridge"